* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kings", cursive;
  margin-top: 50px;
}

.newgame-box {
  width: 80px;
  height: 80px;
  background-color: rgb(174, 170, 170);
  border-radius: 50%;
  margin-left: 1000px;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.newgame-box:hover {
  background-color: rgb(211, 209, 209);
  cursor: pointer;
}

.newgame-text {
  font-size: 20px;
}

.title-text {
  text-align: center;
  font-size: 60px;
}

.timer {
  text-align: center;
  margin-top: 20px;
}

.grid {
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 250px;
  display: grid;

  row-gap: 20px;

  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  justify-items: center;
}

.card {
  height: 150px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(174, 170, 170);
}

.card:hover {
  background-color: rgb(211, 209, 209);
  cursor: pointer;
}

.card-rotate:hover {
  transform: rotateY(180deg);
}

.card-1 {
}
.card-2 {
}
.card-3 {
}
.card-4 {
}
.card-5 {
}
.card-6 {
}
.card-7 {
}
.card-8 {
}
.card-9 {
}
.card-10 {
}
