* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kings", cursive;
  margin-top: 50px;
}

.newgame-box {
  width: 80px;
  height: 80px;
  background-color: rgb(174, 170, 170);
  border-radius: 50%;
  margin-left: 1000px;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.newgame-box:hover {
  background-color: rgb(211, 209, 209);
  cursor: pointer;
}

.newgame-text {
  font-size: 20px;
}

.title-text {
  text-align: center;
  font-size: 60px;
}

.timer {
  text-align: center;
  margin-top: 20px;
}

.grid {
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 250px;
  display: grid;

  row-gap: 20px;

  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  justify-items: center;
}

.card {
  height: 200px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(174, 170, 170);
}

.card:hover {
  background-color: rgb(211, 209, 209);
  cursor: pointer;
}

.card-rotate {
  transform: rotateY(180deg);
  transition: 1000ms;
}

.img-1 {
  background-image: url(img/basketball.png);
  background-size: cover;
}
.img-2 {
  background-image: url(img/bowling-pin.png);
  background-size: cover;
}
.img-3 {
  background-image: url(img/bowling-pin.png);
  background-size: cover;
}
.img-4 {
  background-image: url(img/golf.png);
  background-size: cover;
}
.img-5 {
  background-image: url(img/basketball.png);
  background-size: cover;
}
.img-6 {
  background-image: url(img/ping-pong.png);
  background-size: cover;
}
.img-7 {
  background-image: url(img/skateboard.png);
  background-size: cover;
}
.img-8 {
  background-image: url(img/golf.png);
  background-size: cover;
}
.img-9 {
  background-image: url(img/skateboard.png);
  background-size: cover;
}
.img-10 {
  background-image: url(img/ping-pong.png);
  background-size: cover;
}
